version: 2.1

orbs:
  ggshield: gitguardian/ggshield@1.4.1  

jobs:
  build:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install

  test:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar tests y generar cobertura
          command: npm test
      - store_artifacts:
          path: coverage
          destination: informe-de-cobertura

  lint:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar linting
          command: npm run lint

  analisis_estatico:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar an치lisis est치tico de c칩digo
          command: |
            npx sonarqube-scanner \
              -Dsonar.projectKey=mi-app \
              -Dsonar.sources=. \
              -Dsonar.host.url=${SONAR_HOST_URL} \
              -Dsonar.login=${SONAR_TOKEN}

  generar_artefacto:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Generar artefacto de la aplicaci칩n
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - .

  publicar_artefacto:
    docker:
      - image: cimg/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Publicar artefacto en el repositorio
          command: |
            echo "Publicando artefacto..."
            # Reemplaza este comando con el necesario para publicar tu artefacto

workflows:
  build_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - analisis_estatico:
          requires:
            - build
      - ggshield/scan:
          name: ggshield-scan  
          base_revision: << pipeline.git.base_revision >>
          revision: << pipeline.git.revision >>
          requires:
            - build
      - generar_artefacto:
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - main
      - publicar_artefacto:
          requires:
            - generar_artefacto
          filters:
            branches:
              only:
                - master
                - main
