version: 2.1

orbs:
  ggshield: gitguardian/ggshield@1.1.4
  sonarcloud: sonarsource/sonarcloud@2.0.0  

jobs:
  build:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install

  test:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar tests y generar cobertura
          command: npm test
      - store_artifacts:
          path: coverage
          destination: informe-de-cobertura

  lint:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar linting
          command: npm run lint

  analisis_estatico:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: npm install
      - run:
          name: Ejecutar análisis estático de código
          command: npm run test:coverage
      - sonarcloud/scan
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - store_test_results:
          path: test-results.xml

  build_docker_image:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build Docker image
          command: |
            docker build -t suma-app -t lucasoli13/suma-app:latest .
            echo $DOCKER_PASSWORD | docker login -u lucasoli13 --password-stdin
            docker push lucasoli13/suma-app:latest




workflows:
  build_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - analisis_estatico:
          requires:
            - build
      - ggshield/scan:
          name: ggshield-scan  
          base_revision: << pipeline.git.base_revision >>
          revision: << pipeline.git.revision >>
          requires:
            - build
      - build_docker_image:
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - main